*{
	margin-top: 0px;
}

.navbar-brand{
	margin-left: 115px;
}

.navbar-nav{
	margin-right: 190px;

}

.card-group{
	margin-top: 50px;
	margin-right: 80px;
	margin-left: 17px;

}

.text-footer{
	color: white;
	text-align: center;
	margin-top: 50px;
	padding: 30px;
	background-color: black;
}

.text-break{
	font-size: 13px;
	margin-right: 250px;
}